*{
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 21px;  
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: rgb(99, 0, 148);
  border-radius: 20px;
  padding: 60px;
}

table{
  border-collapse: separate;
  border-spacing: 5px;
}

nav{
  display: flex;
}

#select-mes{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 35px;
}

option{
  color: black;
}

.ano{
  color: white;
  margin-left: 20px;
  font-size: 35px;
}

.feriado {
  background-color: red;
}

th{
  background-color: white;
  height: 60px;
  width: 180px;
  font-size: 30px;
  vertical-align: top;
}

td{
  background-color: white;
  height: 100px;
  padding: 8px;

  vertical-align: top;
  transition: background-color 0.3s ease;
}

td:hover{
  background-color: rgb(181, 181, 181);
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
